@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    z-index: 1000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    color: yellow;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Use bold font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

    